{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Красноярск</title>
    <link href="{% static 'styles/kras_index/index.css' %}" rel="stylesheet"> 
    <script src="{% static 'js/kras_index/script.js' %}"></script>
</head>
<body>
    <header>
        <h1>Красноярск</h1>
    </header>
    <div class="container">
        <h2>О городе</h2>
        <p>Красноярск — крупный город в Сибири, известный своей богатой природой, историей и культурой. Он расположен на берегу величественной реки Енисей и является важным центром региона.</p>
        
        <img src="{% static 'img/kras_index/Kras(night).jpg' %}" alt="Пейзаж Красноярска" class="city-image">
        
        <h2>Достопримечательности</h2>
        <p>Город впечатляет своими природными красотами, музеями, парками и историческими местами. Здесь можно насладиться прогулками по набережной, посетить музеи и узнать много нового о сибирской культуре.</p>
        
        <h2>Климат</h2>
        <p>Климат Красноярска резко континентальный: холодные зимы и жаркое лето делают его уникальным в своем роде, привлекая туристов в любое время года.</p>
    </div>
    <div class="button-container">
        <a href="{% url 'stolb' %}">
            <button type="button" class="styled-button">
                Переход на другую страничку
            </button>
        </a>
    </div>
    <footer>
        <p>&copy; 2025 Красноярск. Все права защищены.</p>
    </footer>
</body>
</html>